html,body {
    height: 100%
}
body {    
    background-image: url("background-image.jpg");
    background-size: cover;
    background-color: gray;
    display: grid;
    place-items: center
}
.card {
    background: rgb(156, 107, 117);
    color: black;
    padding: 1em;
    border: whitesmoke solid 1vh;
    border-radius: 30px;
    width: 100%;
    max-width: 330px;
    margin: 0;    
}




